@page "/"
@using ExamplesComponents.Pages.Cascading
@using ExamplesComponents.Pages.RenderFragment

@* EventCallBack *@
<Counter @bind-Incrementado:get="currentValue" 
         @bind-Incrementado:set="IncrementValue" 
/>

<p>Quantidade de cliques: @currentValue</p>

<hr style="margin-top: 20px;" />

@* CascadingValue *@
<CascadingValue Value="temaAtual">
        <LayoutInternoFilho />
</CascadingValue>

<hr style="margin-top: 20px;" />

@* RenderFragment *@
<Painel>
    <Cabecalho>
        <h3>Este é o cabeçalho</h3>
    </Cabecalho>
    <ChildContent>
        <span>Este é o corpo do painel</span>
    </ChildContent>
    <Footer>
        Este é o footer
    </Footer>
</Painel>

<hr style="margin-top: 20px;" />

@* Attributes *@
<MeuInput placeholder="Nome" disabled />

<hr style="margin-top: 20px;" />

@* Lista generica - typeparam *@
<MinhaLista Itens="produtos">
    <ItemTemplateComponent Context="produto">
        <div class="card-produto">
            <h4>@produto.Nome</h4>
            <p>Categoria: @produto.Categoria</p>
            <p>Preço: @produto.Preco</p>
            @if (produto.EmEstoque)
            {
                <span class="badge text-bg-success">Disponível</span>
            }
            else
            {
                <span class="badge text-bg-danger">Indisponível</span>
            }
        </div>
    </ItemTemplateComponent>
</MinhaLista>


@code {
    private int currentValue = 0;
    private string temaAtual = "escuro";

    private void IncrementValue(int valor)
    {
        currentValue = valor;
    }


    private List<Produto> produtos = new()
    {
        new Produto { Id = 1, Nome = "Notebook", Preco = 3500.00m, EmEstoque = true, Categoria = "Eletrônicos" },
        new Produto { Id = 2, Nome = "Mouse", Preco = 89.90m, EmEstoque = false, Categoria = "Acessórios" },
        new Produto { Id = 3, Nome = "Teclado Mecânico", Preco = 450.00m, EmEstoque = true, Categoria = "Acessórios" },
    };
}